.join {
  display: flex;
  flex-direction: column;
  width: 206px;
}
.join__tittle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 113px;
  height: 16px;
  margin-left: 316px;
  margin-bottom: 20px;
   position: absolute;
  top:2644px;
}
}
.join-to-us-list-portfolio-ul,
.join__list{
  display: flex;

}
.join__list{
  width: 206px;
  justify-content: space-between;
  margin-left: 316px;


}