:root {
  --main-font: 'Roboto', sans-serif;
  --socondary-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
}

body {
  font-family: var(--main-font);
}
h1, h2, h3, h4, h5, h6, ul, ol, p
 {
  margin:0;
  padding: 0;
  }

img{
  display: block;
  }

  * {
  box-sizing: border-box;}



/* =============HEADLINE============ */

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;







}
.navigation-all{
display: flex;
align-items: baseline;
width: 1158px;
align-items: center;
margin: 0 auto;
}
.navigation {
  display: flex;
  align-items: baseline;
  background: #FFFFFF;
  height: 80px;
}

.navigation-link{
width: 145px;
height: 31px;
left:0px;
margin-right: 93px;
padding-top: 24px;
padding-bottom: 25px;
}


.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 24px;
padding-bottom: 25px;
height: 16px;
  }

.navigation-list-item,
 .navigation-list-item-portfolio {
margin-right: 46px ;
}

.social-icon-header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 258px;
  height: 16px;
  top:32px;
}
.portfolio-agency:first-child::after{
  content:"";
  display: block;
 width: 53px;
height: 4px;
background: var(--main-color);
border-radius: 2px;
position:absolute;
top: 76px;


}
.portfolio:first-child::after{
 content:"";
  display: block;
 width: 58px;
height: 4px;
background: var(--main-color);
border-radius: 2px;
position:absolute;
top: 76px;
}

.phone{

width: 110px;
height: 16px;
left: 78.93%;
top: 32px;
}
.mail{
margin-right: 30px;
  height: 16px;
 top:32px
  }

.header-mail-phone{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}


.navigation-link,
.address-logo,
.navigation-list-item-portfolio {
    text-decoration: none;
}

.navigation-list-item,
.navigation-list-item-portfolio {

  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  }
.navigation-list-item-portfolio{
  color:var(--main-color);
}
.navigation-list-item:hover,
.navigation-list-item:focus {
  color: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-header-link{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  align-items: baseline;
  justify-content: center;
}

.social-icon-header-mail{
cursor: pointer;
}
.social-icon-header:hover,
.social-icon-header:focus{
fill: var(--main-color);
}
  .social-icon-header-mail:hover,
  .social-icon-header-mail:focus{
   fill: var(--main-color);
   color:var(--main-color);
    }
.social-icon-header-smartphone:hover,
.social-icon-header-smartphone:focus{
  fill: var(--main-color); 
}



  .social-icon-header-link:hover,
  .social-icon-header-link:focus{
   color: var(--main-color);
   fill:var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     }  
.social-icon-header-link:hover 
.social-icon-header-mail {
 fill: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
 
}
.social-icon-header-link:hover 
.social-icon-header-smartphone {
 fill: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

  .social-icon-header-mail{
    margin-right: 10px;

  }
.social-icon-header-smartphone{
  margin-right: 10px;
  margin-left: 30px;
  right: 0px;
}
/* =============END-THE-HEADLINE============ */

/* =============hero-efektywne-rozwiązania-dla-waszego-biznesu============ */

.hero {

  height: 600px;
  top: 80px;
  left: 0px;
  border: 1px solid #000000;
  background: #2f303a;
   background-image: linear-gradient(
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
  url("../images/people-bg-PNG.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 .hero-items{
  display: flex;
  flex-direction: column;
  align-items: center;

 }

.main-tittle {
width: 696px;
height: 120px;
position: absolute;
top:280px;
 font-family:var(--main-font)
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.button {
  position: absolute;
  top:430px;
  width: 200px;
  height: 50px;
  border:none;

  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--main-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* =============hero-efektywne-rozwiązania-dla-waszego-biznesu============ */


/* <!-- lorem-ipsum--> */

.lorem-impusem-icons-all{
  align-items: center;
  margin: 0 auto;

}



.lorem-impusem-icons-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
  margin-top: 94px;
  margin-bottom: 30px;

}

.lorem-impusem-icon{
  width: 70px;
  height: 70px;
}

.lorem-impusem-icons-link{
display: flex;
  width: 270px;
height: 120px;
  background-color: #F5F4FA;
  border-width::4px;
  justify-content: center;
  align-items: center;


}

.lorem-impusem-icons-item:not(:last-child){
  margin-right: 30px;
}




.lorem-ipsum {
  position:
  height: 101px;
  top: 774px;
  font-family: var(--main-font);
  color: #212121;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 0 auto;
  margin-top:30px;


}


.lorem-ipsum-item {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
/* align-items: center;
justify-content: center; */
margin: 0 auto;
justify-content: center;


}

.lorem-ipsum-item-p{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: #757575;
text-transform: none;
margin-top: 10px;
}
 .container-lorem-ipsum{
  display: flex;
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin-bottom:94px;





 }
.lorem-ipsum-item{
  flex-basis: 270px;



}
.lorem-ipsum-item:not(:last-child){
  margin-right: 30px;
}

/* <!-- lorem-ipsum--> */




/* <!-- What-we-do--> */

.what-we-do{
height: 386px;
margin:0 auto;
margin-top: 94px;


}
.what-we-do-tittle{
margin:0 auto;
margin-bottom: 50px;
font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.1667;
text-align: center;
letter-spacing: 0.03em;
color: #212121

}

.container-what-we-do {
 display: flex;
 justify-content: center;
 align-items: center;


}
.what-we-do_item{
  display: flex;
  flex-direction: column;
}
.what-we-do_item:not(:last-child){
margin-right:30px;
}

.what-we-do-content-item-span-computer,
.what-we-do-content-item-span-mobile,
.what-we-do-content-item-span-grafic{
font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.142px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

}
.box{
background-color: rgba(47, 48, 58, 0.8);
width: 370px;
height: 70px;
position: absolute;
align-items: center;
margin: 0 auto;
margin-top:224px;
z-index: 20;
display: block;

}

.what-we-do-content-item-span-computer{
position:relative;
z-index: 30;
margin-left:90px;
bottom:-27px;
width: 190px;
height: 16px; 
}

.what-we-do-content-item-span-mobile{
position:relative;
z-index: 30;
margin-left:113px;
bottom:-27px;
width: 144px;
height: 16px;
}

.what-we-do-content-item-span-grafic{
position:relative;
z-index: 30;
margin-left:94px;
bottom:-27px;
width: 182px;
height: 16px;
}
/* <!-- end-What-we-do--> */

/* <!-- our-team --> */
.team {
height: 708px;
/* left: 0px; */

background: #F5F4FA;
margin: 0 auto;
text-decoration: none;
font-style: none;
margin-top:94px;
margin-bottom:94px;


}

.team-tittle{

font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.667;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
padding-bottom:50px;
padding-top: 94px;

}

.team-member-all{
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-decoration: none;
  font-style: none; */

}
.team-member{

background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
margin-bottom: 94px;


}
.team-member:not(:last-child){
  margin-right:30px;
}

.team-member-name {
font-family: var(--main-font);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.187;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
margin-top: 30px;
margin-bottom: 10px;
}
.team-member-name-career{
  /* position: realtive;
width: 147px;
height: 19px;
left: 577px;
top: 1954px; */

font-family: var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.187;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
margin-top:10px;
margin-bottom:30px;

}

.social-icon{
  width: 20px;
  height: 20px;
  fill:#AFB1B8;

}
.team-member-social-list-link{
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  justify-content: center;
  align-items: center;



 }
.team-member-social-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 206px;
  height: 56px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 18px;
}
.team-member-social-list-link:hover,
.team-member-social-list-link:focus{
background-color: var(--main-color);
fill:#FFFFFF;
}
/* .social-icon:hover,
.social-icon:focus{
  fill: #FFFFFF; 
}  */



 .team-member-social-list-link:hover
.social-icon{
  fill:#FFFFFF; 
}  

/* <!-- end-the-our-team --> */



/*<!-- our-clients --> */

  /* Nasz zespół */
.tittle{
font-family:var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.666px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;


}

.our-clients-tittle{
display: block;
margin: 0 auto;
font-family:var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.666px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.our-clients-icon-lisc{
  height: 41.18px;
width: 43.46px;
fill:#AFB1B8;
}



.our-clients-icon{
width: 106px;
height: 60px;
fill:#AFB1B8;
}
.our-clients-list{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top:50px;
  padding-bottom: 94px;;
  }
.container-our-clients{
height: 184px;
margin:o auto;
align-items: center;
font-family: var(--main-font);
font-style: normal;
font-weight: bold;
text-align: center;
letter-spacing: 0.03em;

}
.our-clients-icon:not(:last-child){
  margin-right: 30px;

}
.our-clients-link{
  display: flex;
  width: 170px;
  height: 92px;
  background-color: #FFFFFF;
  border-width: 1px;
  border-color: #AFB1B8;
  border-style: solid;
   justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.our-clients-link:not(:last-child){
margin-rigt:30px;
}
.our-clients-icon-lisc:hover,
.our-clients-icon-lisc:focus,
.our-clients-icon:hover,
.our-clients-icon:focus{
  fill: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

.our-clients-link:hover,
.our-clients-link:focus{
border-color: var(--main-color);
}

.our-clients-icon-company{
margin: 0 auto;
align-items: center;
background-position: center;
}
 .img-wrapper{ 
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transform: translatey(100%);
  transition: transform 250ms ease }  
  

.filter-examples-images:hover .img-wrapper {
  transform: translatey(0);} 


.img-wrapper > p {

width: 301px;
height: 196px;
padding-top: 49px;
padding-left: 29px;

font-family: var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 1.555;
line-height: 28px;
letter-spacing: 0.03em;
color: #FFFFFF;}

.portfolio-photos{
  position: relative; 
  overflow: hidden;
}



/* <!-- and-our-clients --> */

/* =============/MAIN INDEX.HTML============ */

/* =============FOOTER INDEX.HTML============ */


.footer {
height: 252px;
background: #2F303A;
margin:0 auto;
margin-top:94px;
}

.adress-portfolio{
height: 252px;
background: #2F303A;
margin:0 auto;
margin-left: 215px;
margin-top:94px;
}




.web,
.studio {
  Weight:700;
  text-decoration: none;
  font-family: var(--socondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
  font-style: normal;
}
.address-logo{
position: absolute;
width: 145px;
height: 31px;
/* left: 0px; */
font-style: none;
text-decoration: none;
font:none;


}
.studio {
  color: #000000;
}
.footer {
  text-decoration: none;
  font-family: var(--socondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.footer-address{

  position: relative;
   top: 30px; 
} 
.footer-address-porfolio{
  display: flex;
align-items: flex-start;
} 
.footer-icon-register{
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
  margin-left: 24px;
  position:relative;
  top:5px;

}

.join-to-us,
.join-to-us-porfolio{
  display: flex;
   flex-direction: column;
   width: 206px;
   

}
.join-to-us{
  top:2752px;
  position:absolute;
}

.join-to-us-list-item{
  list-style: none;
  display: flex;


}

.adress-street{
color: #FFFFFF;
font-size: 14px;
line-height: 1.714;
/* or 171% */
letter-spacing: 0.003em
font-style: normal;
font-weight: normal;
font-family: var(--main-font);
margin-left:0px;
margin-top:20px;
font-style: normal;

}

.address-mail,
.address-phone {
  font-family: var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
padding-top:9px;
margin-left:0px;
}

.form-icon-register{
  fill:#FFFFFF;

}


.social-icon-footer{
  width: 20px;
  height: 20px;
  fill:#FFFFFF;
}

.social-icon-header-mail{
  width: 16px;
  height: 12px;
  fill:#757575;

}

.social-icon-header-smartphone{
  width: 10px;
  height: 16px;
  fill:#757575;
 
}

.join-to-us-tittle,
.join-to-us-tittle-portfolio{

width: 113px;
height: 16px;



font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

position: absolute;
top: 2751px;
margin-left: 316px;

}
.join-to-us-tittle-portfolio-h2{
  margin-bottom: 20px;
}
.join-to-us-tittle-portfolio-h2,
.join-to-us-list-portfolio-ul{
font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;


width: 113px;
height: 16px;

margin-left: 316px;
}



.join-to-us-list-portfolio-ul,
.join-to-us-list-portfolio-ul-portfolio{
  display: flex;

}
.join-to-us-list-portfolio-ul-portfolio{
  width: 206px;
  justify-content: space-between;
  margin-left: 316px;


}
.join-to-us{
  position: absolute;
  top:2644px;
}
.join-to-us-list{
    list-style: none;

width: 206px;
height: 44px;
left: 531px;
justify-content:space-between;
align-items: center;
}
.join-to-us-list-portfolio{
   list-style: none;
 position: absolute;
width: 206px;
height: 44px;
margin-left: 316px;
/* top: 2787px;  */
justify-content:space-between;
align-items: center;
top: 2787px;
}

.join-to-us-list-portfolio{
  display: flex;

}
.join-to-us-list-link{
  display: flex;
   width: 44px;
  height: 44px;
    border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.join-to-us-list-link
.join-to-us-list-link-portfolio{
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.join-to-us-list-link:hover,
.join-to-us-list-link:focus{
background-color: var(--main-color)

}

.join-to-us-list-link-portfolio:hover,
.join-to-us-list-link-portfolio:focus{
background-color: var(--main-color)
}
.footer-address-portfolio-2{ 
top:1692px;
  position: absolute;
}
.footer-portfolio{
  display: flex;
  padding-top: 60px;
  height: 252px;
background: #2F303A;
margin:0 auto;
}
.join-to-us-portfolio{
  top:1692px;
  position: absolute; 
}

.join-to-us-portfolio-2{
  top:1700px;
  position: absolute; 
  
}
.newsletter-h2{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.172;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 20px;;
}

.newsletter-ul{
  list-style: none;
  display: flex;

}

.newsletter-ul-item-email{
 
width: 358px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: transparent;
padding-left: 16px;
margin-right: 12px;
}

.button-newletter-register{

width: 200px;
height: 50px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.875;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
}
.button-newletter-register::after{
  background-image: url("./images/icons.swg.svg#icon-IG");
  fill:#EEEEEE;
  background-size: 24px, 24px;
}
.newsletter-main{
  margin-left: 600px;
  bottom: 110px;
  position: relative;
  
}
.newsletter-portfolio{
  margin-left: 600px;
 ;
}

/* =============FOOTER PORTFOLIO.HTML============ */


/* =============BACKDROP============ */
.backdrop{
position:fixed;
width: 100%;
height: 100%;
left:0;
top:0;
 background-color:rgba(0, 0, 0, 0.2);
 z-index: 50;
 
}
.modal{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 528px;
min-height: 581px;
  background-color: #FFFFFF;
  z-index: 50;
 
}
.form-all{
 
width: 448px;   
}

.form-all-flex{
  display: flex;
  flex-direction: column;
   position: absolute;
    /* top: 261px;  */
    left: 50%;
    top: 50%;  
    transform: translate(-50%,-50%);
    z-index: 70;
    
}


.modal-tittle{
font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: #212121; 
}
.form-names{
  font-family: var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 1.666;
letter-spacing: 0.01em;
color: #757575;
padding-bottom: 4px;
padding-top:10px;

}
.form-names-all{
height: 40px;
width: 448px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
padding-left: 50px!important
}


.form-names-feedback{
font-family: var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 1.666;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
border: 1px solid rgba(33, 33, 33, 0.2);
/* box-sizing: border-box; */
border-radius: 4px;
width: 448px;
height: 120px;
padding-left: 16px; 
padding-top:12px;
resize: none;


}
.form-name-svg{
  display: flex;
}


.form-names-feedback:focus,
.form-names-feedback:hover{
  border-color: var(--main-color);
  
}


  
.form-name{
   position: absolute;
    display: block;
    height: 40px;
}
 .form-icon{
  padding-left:12px;
  position: relative;
  bottom: 29px;
  
} 
.form-icon-email{
  /* left:12px;  */
  position: relative;  
  margin-bottom:29px;
 padding-left:12px; 
 height: 18px;
 bottom:29px;
 

}

.form-label-icon{
width:448px;
height:40px;
display: block;
}

.form-names-all:hover,
.form-names-all:focus{
  border-color: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-icon:hover,
.form-label-icon:focus{
  border-color: var(--main-color);
  fill: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.user-policy-text{
  width: 420px;
font-family: var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.714;
/* identical to box height, or 171% */

letter-spacing: 0.03em;

color: #757575;
margin-top: 20px;
margin-left: 14px;
align-items: center;

}

.user-policy-text::before{
display: inline-block;

content:"";
width: 16px;
height: 16px;
outline: 1px solid #000000;
border-radius: 2px;
margin-right: 7px;
position: relative;
top:4.5px;


}
.modal-form-policy:checked + .user-policy-text::before{
  background-color: var(--main-color);
  border: 3px solid transparent;
  outline:none;
  background-image: url(../images/done_bird.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.policy-text-link{
  color: var(--main-color);
}
.visually-hidden{
  position:absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


.button-form-send{
margin-top: 30px;
margin-left: 124px;
width: 200px;
height: 50px;
background: var(--main-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border:none;


font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.875;
/* identical to box height, or 187% */
letter-spacing: 0.06em;

color: #FFFFFF;

}






.button-form{
width: 200px;
height: 50px;
background: var(--main-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-bottom: none;
}




.close-btn{
  position: absolute;
  top:8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor:pointer;
   z-index: 50;

}
.close-btn-cross{
  /* position: absolute;  */
    /* position: relative; */
  top:15px;
  right: 15px;
  transform: translate(15%,20%);   
}
.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* =============END.BACKDROP============ */



/* =============FILTER============ */

.filter{
  margin: 0 auto;
  align-items: center;
}

.filter-list-items{
  display: flex;
  list-style:none;
  text-decoration: none;
width: 572px;
height: 54px;
/* left: 510px; */
/* top: 174px; */
margin: 0 auto;
align-items: center;
margin-top:94px;

  }

.button-portfolio {

  font-family: var(--main-font)
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
    text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border:none;


  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;



  background-color: #f5f4fa;
  border-color:#f5f4fa;
  border-radius: 4px;
  margin-right:8px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: #FFFFFF;
  background-color: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
}

.filers-examples{

width: 1170px;
height: 1360px;
margin:0 auto;
align-items: center;

}
/* =============END-FILTER============ */


/* =============FILTER-PHOTOS============ */

.filter{

}

.filers-examples {
width: 1170px;
height: 1360px;
margin: 0 auto;
align-items: center;

}

 .filter-examples-all-1{
   display: flex;
   flex-wrap: flex;
   margin: 0 auto;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 30px;
   margin-top:50px;
     }
     .filter-examples-all-2{
   display: flex;
   flex-wrap: flex;
   justify-content: space-between;
   margin-bottom: 30px;
     }
.filter-examples-all-3{
   display: flex;
   flex-wrap: flex;
   justify-content: space-between;
   margin-bottom: 94px;

     }

.filter-examples-images{
  position: relative;
width: 370px;
height: 404px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
margin:auto;
overflow: hidden;
}

.filter-examples-images {
margin-right: 30px ;
}

.filter-examples-images-item{
font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: #212121;
margin-top: 20px;
margin-bottom: 4px;
margin-left: 24px;;

}
.filter-examples-images-category{
font-family: var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
letter-spacing: 0.03em;
color: #757575;
margin-left: 24px;;
}

.filter-examples-image:hover{
  animation-name: textAndColor;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-delay: 1000ms;
}
.textAndColor{
  content:"Technocrack jest popularną platformą wykorzystywaną do rozpowszechniania koronawirusa. Firmy wykorzystują tę platformę do celów szpiegowskich i ataków na niezabezpieczone serwery konkurencji";
font-family: var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
/* or 156% */
letter-spacing: 0.03em;
color: #FFFFFF;
}








/* .filers-examples > p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575; */
}
/* =============END-FILTER-PHOTOS============ */