
.navigation-all{
display: flex;
align-items: baseline;
width: 1158px;
align-items: center;
margin: 0 auto;
}
.navigation {
  display: flex;
  align-items: baseline;
  background: #FFFFFF;
  height: 80px;
}

.navigation-link{
width: 145px;
height: 31px;
left:0px;
margin-right: 93px;
padding-top: 24px;
padding-bottom: 25px;
}


.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 24px;
padding-bottom: 25px;
height: 16px;
  }

.navigation-list-item,
 .navigation-list-item-portfolio {
margin-right: 46px ;
}