
.portfolio-agency:first-child::after{
  content:"";
  display: block;
 width: 53px;
height: 4px;
background: var(--main-color);
border-radius: 2px;
position:absolute;
top: 76px;


}
.portfolio:first-child::after{
 content:"";
  display: block;
 width: 58px;
height: 4px;
background: var(--main-color);
border-radius: 2px;
position:absolute;
top: 76px;
}
