:root {
  --main-font: 'Roboto', sans-serif;
  --socondary-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
}

body {
  font-family: var(--main-font);
}
h1, h2, h3, h4, h5, h6, ul, ol, p
 {
  margin:0;
  padding: 0;
  }

img{
  display: block;
  }

  * {
  box-sizing: border-box;}


   


.label-form-header{
  position: relative;
}

.social-icon{
  width: 20px;
  height: 20px;
  fill:#AFB1B8;

}

.box{
background-color: rgba(47, 48, 58, 0.8);
width: 370px;
height: 70px;
position: absolute;
align-items: center;
margin: 0 auto;
margin-top:224px;
z-index: 20;
display: block;

}